* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
}

body{
    background-color: rgb(236, 233, 233);
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area{
    width: 400px;
    height: 250px;
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}
::placeholder { color: #0A3871;
    .text-area:focus {
        outline: none;
    }
}

.mensaje{
    background-color: white;
    background-image: url(./assets/Imagen1.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 400px;
    padding-left: 20px;
    display: flex;
    position: fixed;
}

.botones{
    display: flex;
    position: fixed;
    margin-top: 18px;
    gap: 10px;
}

.btn-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-desencriptar{
    background-color: lightblue;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: darkblue;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 430px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
}

.informacion{
    color: #495057;
    font-size: 18px;
}